/*Tabela de conteúdos
--------------------------------------------------
**Estilos Base
**Grid
**Tipografia
**Links
**Botões
**Formulários
**Listas
**Códigos
**Tabelas
**Espaçamento
**Utilidades
*/

/*Estilos Base
--------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,600');

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 300;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
}

/*Grid
--------------------------------------------------*/
.container {
	width: 100%;
	max-width: 990px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	box-sizing: border-box; 
}

.linha {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}

.coluna,
.colunas {
	width: 100%;
	box-sizing: border-box;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}